@import "compass/css3";

.deck-permalink {
	display: none;
}

#title-slide {
	h2 {
		text-align: center;
		border: none;
		position: absolute;

		right: 0;
		bottom: 10px;
		left: 0;

		font-size: 16px;
	}
}

#the-end-1 {
	h1 {
		font-size: 300%;
	}
}